body {
  margin: 0;
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  background-color: white;
  min-height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.task-tabs {
  display: flex;
  border-bottom: 1px solid lightgray;
  position: relative;
}

.task-tabs a {
  padding: 1em;
  cursor: pointer;
}

.task-area {
  border: 1px solid lightgray;
}

#under-line {
  height: 4px;
  background-color: pink;
  position: absolute;
  width: 50px;
  left: 0px;
  top: 52px;
  padding: 0;
  transition: 0.5s;
}

.task {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.task-done {
  text-decoration: line-through;
}

nav:first-child {
  display: flex;
}
